body{
    background-color: black;
    color: white;
}
.t {
    width: 17.3%;
}
button {
    background-color: white;
}
table {
    width: 100%;
    border: 1px solid;
}
.te {
    color: white;
}
h3 {
    color: white;
}